.ui.input{
    margin-left: 20px;
}

.flexdiv{
    display: flex;
    align-items: center;
}

.ui.primary.button.signup{
    margin-left: 200px;
}

.topdiv-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}