.ui.input{
    margin-left: 20px;
}

.flexdiv{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.ui.primary.button.signup{
    margin-left: 200px;
}

.topdiv-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.private{
    margin-right: 20px;
}

.flexdiv-vertical{
    display: flex;
    align-items: left;
    margin: 30px 0;
    flex-direction: column;
}

.album-container {
    display: flex;
    width: 100%;
    padding-left: 40px;
    flex-direction: column;
}

.form-container{
    width: 100%;
    margin-left: 500px;
}

.click-heading {
    cursor: pointer;
    margin-right: 350px;
}